- var title = 'Engineering Info';

mixin meta(n, c)
  meta(name=n content=c)
mixin css(url)
  link(rel='stylesheet' type='text/css' href=url)


head
  title #{subtitle} &middot; #{title}
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  +meta('viewport', 'width=device-width, initial-scale=1')
  +css('https://fonts.googleapis.com/css?family=Maven+Pro:400,700')
  +css(home+'/z51.css')
  +css(home+'/engi-info.css')
  //- +css(home+'/z51-forms.css')
  //- +css(home+'/z51-html-ext.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js')
  script(src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
  script(src=home+'/z51.js')
  +meta('author', 'Ryan Fung')
